# ======================================
# Python
# ======================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# ======================================
# Virtual environments
# ======================================
autonomous-drive/

# ======================================
# Jupyter
# ======================================
.ipynb_checkpoints/
*.ipynb~
.jupyter/

# ======================================
# IDEs y editores
# ======================================
.vscode/
.idea/

# ======================================
# macOS
# ======================================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
*.swp

# ======================================
# Windows
# ======================================
Thumbs.db
ehthumbs.db
Desktop.ini

# ======================================
# Archivos temporales / backup
# ======================================
*.log
*.out
*.bak
*.tmp
*.swp
*.swo

# ======================================
# Archivos comprimidos
# ======================================
*.zip
*.tar
*.tar.gz
*.rar
*.7z

# ======================================
# Archivos de datasets (solo contenido, no carpetas)
# ===============================
